.main{
    margin: 30px 0px 0px 250px ;
    height: fit-content;
    width: 500px;
    background:aquamarine;
    border-radius: 10px;
}
#form{
   
   display: flex;
   padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    width: 80%;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    border: none;
}
button{
     width: 50%;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    border: none;
}